.contextMenu {
    stroke: #00557d;
    fill: #ffffff;
  }
  
  .menuEntry {
    cursor: pointer;
  }
  
  .menuEntry text {
    font-size: 12px;
    stroke: #00557d;
  }
  
.test {
    background-color: red;
}


.links line {
    stroke: #000;
}

#tooltip {
    position: absolute;
    background-color: white;
    max-width: 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
}

#promo_panel {
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: 100%;
}
#scratch_panel {
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: 100%;
}

#tree_panel {
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: 100%;
    overflow: scroll;
}

#filter_panel {
    padding: 0px;
    margin: 0px;
    height: 100%;
}